.wrapper {
    @apply flex items-center justify-center h-full;

    position: relative;

    h1 {
        font-size: 12px;
        padding-top: 10px;
        position: absolute;
        top: 0;
    }
}

.logo {
    width: 20%;
    z-index: 100;

    svg {
        width: 100%;
        height: auto;
        min-width: 150px;
    }
}

.waves {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    svg {
        transform: translateY(30%);
        width: 100%;
        height: auto;
        pointer-events: none;
    }
}
