.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex-grow: 1;
  min-height: 0; // very important for flex children to allow scroll
}

.scrollable {
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.messageWrapper {
  padding: 3px 0px;
  display: flex;

  &.isSender {
    justify-content: flex-end;

    .message {
      border-bottom-right-radius: 0;
      
    }
  }

  &:not(.isSender) {
    .message {
      border-bottom-left-radius: 0;
    }
  }
}

.message {
  background-color: #dfe9ff;
  border-radius: 10px;
  color: black;
  padding: 9px;
  width: 80%;
  padding: 20px;
}

.meta {
  font-size: 11px;
  color: #7086b6;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.time,
.date {
  display: inline-block;
}
