@use "@/styles/colors";

.wrapper {
    height: calc(100vh - 65px);

    h1 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;

        bottom: 15px;
    }
}

.inner {
    @apply flex items-center justify-center h-full;

    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 100;
    padding-bottom: 150px;
}

.logo {
    width: 20%;

    min-width: 150px;
    z-index: 100;

    svg {
        width: 100%;
        height: auto;
    }
}

.waves {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    svg {
        transform: translateY(30%);
        width: 100%;
        height: auto;
        pointer-events: none;
    }
}

.heroButton {
    font-size: 20px;
    font-weight: 500;
    background-color: colors.$green;
    padding: 17px 40px;
    border-radius: 100px;
    display: inline-block;
}

.videoPreview {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #a2b9eb;
    display: inline-flex;
    overflow: hidden;
    margin-right: 15px;

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}
