.messageInput {
    @apply flex items-center justify-center;
    gap: 23px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.inputWrapper {
    flex-grow: 1;
}

.input {
    font-size: 15px;
    padding: 13px 15px;
    border-radius: 7px;
    background-color: #d8e5ff;
    color: #000000;
    width: 100%;

    &::placeholder {
        color: #1e2f52;
    }
}

.button {
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background-color: #a2b9eb;

    @apply flex items-center justify-center;
}
