.wrapper {
    padding-left: 35px;
    padding-top: 23px;
    padding-right: 35px;
    transition: ease-in-out 300ms;
    position: relative;
    z-index: 10;

    &.chat {
        padding-right: 600px;
    }
}

.inner {
    display: flex;
    align-items: center;
}

.logo {
    width: 220px;
    display: inline-block;

    &:hover {
        opacity: 0.8;
    }

    svg {
        width: 100%;
        height: auto;

        path {
            fill: white;
        }
    }
}

.nav {
    flex-grow: 1;
    padding-left: 35px;

    ul {
        display: flex;

        a {
            font-size: 20px;
            font-weight: 500;
            padding: 15px 25px;
            border-radius: 100px;
            text-wrap: nowrap;

            &.active {
                background-color: #7e95c7;
            }

            &:not(.active):hover {
                opacity: 0.8;
            }
        }
    }
}

.profileButton {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 100px;

    &.active {
        background-color: #7e95c7;
    }

    &:not(.active):hover {
        opacity: 0.8;
    }
}
