.toggleVideoButton {
  width: 60px;
  height: 60px;
  background-color: #e3eaf9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.2s ease;

  svg {
    width: 50%;
    height: auto;

    path {
      fill: #4e6aa7;
      transition: fill 0.2s ease;
    }
  }

  &.offState {
    svg {
      path {
        fill: #fa6e67;
      }
    }
  }

  &:hover {
    background-color: #eef3ff;
    svg g {
      fill: #4e6aa7;
    }
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); // subtle lift
  }

  &:active {
    background-color: #cbdafc;
    transform: scale(0.95); // small press animation
    svg g {
      fill: #4e6aa7;
    }
    box-shadow: 0 0 0 transparent;
  }
}
