@use "@/styles/colors";

.videoChat {
    height: calc(100vh - 72px);
    display: flex;
}

.main {
    flex-grow: 1;
    padding: 0 65px;
    padding-top: 30px;
}

.sidebar {
    width: 530px;
}

.sidebarInner {
    position: relative;
    height: calc(100% + 40px);
    margin-top: -40px;
    overflow: hidden;
}

.sidebarContent {
    transition: transform 300ms ease-in-out;
    background-color: #becef1;
    height: calc(100% + 50px);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 100px;
    width: 100%;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    &.active {
        transform: translateX(0);
    }
}

.sidebarHeader {
    padding-top: 20px;
}

.sidebarMain {
    flex-grow: 1;
}

@media (max-width: 1300px) {
    .sidebar {
        width: 200px;
    }

    .main {
        padding-left: 20px;
        padding-right: 20px;
    }
}
