.localVideo {
  position: relative;
  width: 100%; // container width
  max-width: 300px; // optional
  background-color: #dfe9ff;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  justify-content: center;

  transition: border-radius 1s ease-in-out;

  &.active {
    border-radius: 10px;
    transition: border-radius 0.3s ease-in-out;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
